<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
	
	<typeAliases>
		<typeAlias type="com.board.model.BoardDAO" alias="boardDao" />
		<typeAlias type="com.board.model.BoardDTO" alias="boardDto" />
		<typeAlias type="com.board.model.PageDTO" alias="pageDto" />
	</typeAliases>
	
</configuration>